{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.5",
                    "edge": "12",
                    "safari": "11"
                }
            }
        ]
    ]
}
